<script src="partials/highscore-list/javascripts/highscore-list.js"></script>
<link rel="stylesheet" href="partials/highscore-list/stylesheets/highscore-list.css">

<div class="highscore-grid">
    <div class="highscore-list-header-row"><strong>Platz</strong></div>
    <div class="highscore-list-header-row"><strong>Spielername</strong></div>
    <div class="highscore-list-header-row"><strong>Punktzahl</strong></div>
    <div class="highscore-list-header-row"><strong>Räume</strong></div>
    <div class="highscore-list-header-row"><strong>Spiele</strong></div>
</div>