<script src="partials/highscore-list/javascripts/highscore-list.js"></script>
<link rel="stylesheet" href="partials/highscore-list/stylesheets/highscore-list.css">


<div class="row">
    <div class="highscore-grid">
        <div class="highscore-list-header-row"><b>Platz</b></div>
        <div class="highscore-list-header-row"><b>Spielername</b></div>
        <div class="highscore-list-header-row"><b>Punktzahl</b></div>
        <div class="highscore-list-header-row"><b>Räume</b></div>
        <div class="highscore-list-header-row"><b>Spiele</b></div>
    </div>
</div>