<script src="partials/exposition-info/javascripts/exposition-info.js"></script>
<link rel="stylesheet" href="partials/exposition-info/stylesheets/exposition-info.css">
<div id="exposition-info-switch">
    <!-- Navigationsreiter für Info bzw. Mission -->
    <ul class="navbar host-color switch-container">
        <li class="exposition-info-tabelement"><a href="#mission">Mission</a></li>
        <li class="exposition-info-tabelement"><a href="#info">Info</a></li>
    </ul>
    <!-- Panels für Info bzw. Mission -->
    <div id="info" class="panel panel-default">
        <div class="panel-body">
            <h2 id="exposition-info-info-header">Info</h2>
            <!-- Slider für Bildelemente -->
            <div id="exposition-images" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators"></ol>

                <!-- Wrapper für Slidelemente -->
                <div id="exposition-slider-image-wrapper" class="carousel-inner" role="listbox"></div>

                <!-- Kontrollelemente -->
                <a class="left carousel-control" href="#exposition-images" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#exposition-images" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Beschreibung der Ausstellung -->
            <p id="exposition-description" class="panel"></p>
        </div>
    </div>
    <div id="mission" class="panel panel-default">
        <div class="panel-body">
            <h2 id="exposition-info-mission-header">Missionen</h2>
            <!-- Wrapper für die Current-Game-Kreise -->
            <div id="current-game-display-wrapper" class="row"></div>
            <div id="mission-hook" class="mission-hook-padding"></div>
            <!-- Button zum scannen eines QR-Codes -->
            <a id="exposition-scan-qr"
               class="btn btn-sm btn-primary btn-block host-button host-function-button">QR-Code scannen</a>
            <button id="btn_home" class="btn btn-sm btn-primary btn-block host-button host-function-button home-button">
                Zurück zur Übersicht
            </button>
        </div>
    </div>
</div>
