#container {
    display: flex;
    justify-content: center;
    align-content: stretch;
}

#editor {
    flex-grow: 1;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.ajax-wait {
    display: none;
}

th.min-column {
    width: 1%;
}

.table-list > tr > td {
    text-align: center;
}

.ui-selected {
    background: #00CC00;
    color: white;
}

.details {
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.dropzone {
    height: 250px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    text-align: center;
    line-height: 250px;
    overflow: hidden;
}

.dropzone-preview-image {
    max-height: 100%;
}

.submit-button {
    text-decoration: none;
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #fff !important;
    font-size: 100%;
    border-radius: 3px;
    padding: 5px 0 5px 0;
    text-align: center;
    height: 25px;
}

.cancel-button {
    text-decoration: none;
    border: 1px solid #ff7f00;
    background: #ff3e00;
    font-weight: normal;
    color: #fff !important;
    font-size: 100%;
    border-radius: 3px;
    padding: 5px 0 5px 0;
    text-align: center;
    height: 25px;
}

.textfield {
    width: 100%;
}