<link rel="stylesheet" href="partials/play-logout-box/stylesheets/play-logout-box.css"/>
<div class="jumbotron col-md-12 info-textbox-container">
    <div class="text-container">
        <h3>Bis bald zum Quiz der Hochschule Stralsund</h3>
        <p>Sie werden in wenigen Sekungen vom Quiz abgemeldet. Sollten Sie das Spiel zu einem späteren Zeitpunkt fortführen wollen, 
        merken Sie sich bitte die angezeigten Anmeldedaten. Ihre Fortschritte bleiben nur am heutigen Tag bestehen!</p>
    </div>
</div>