.custom-menu-button {
    position: fixed;
    font-size: 1.5em !important;
    z-index: 100 !important;
    color: #EEEEEE;
    background-color: #333333;
    padding: 5px;
    border-radius: 0 5px 5px 0;
}

.mm-navbar__title {
    color: #EEEEEE !important;

}