
.fill-screen {
    min-height: 100vh;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.text-container {
    padding: 15px;
}

a {
    color: #EEE;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 0.1em;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.sign-up-tabelement {
    display: inline-flex;
    width: 50%;
    text-align: center;
}

.switch_container {
    display: flex;
    padding: 0 !important;
}

li, a {
    width: 100%;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

li.ui-state-active > a {
    background-color: #ad0000 !important;
    color: #EEE !important;
    border: #BBB !important;
    border-radius: 4px;
}

li:hover, a:hover {
    border-radius: 4px;
}



