html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.host-button, .host-button:hover, .host-color, a:hover, a:focus {
    background-color: #e1232b !important;
    color: #EEE !important;
    border: #BBB !important;
}

.host-button:active:focus, .host-button:active {
    background-color: #ad0000 !important;
}