html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.host-button, .host-button:hover, .host-color, form a:hover, form a:focus {
    background-color: #e1232b !important;
    color: #EEE !important;
    border: #BBB !important;
}

.host-button:active:focus, .host-button:active {
    background-color: #ad0000 !important;
}

.host-button-group-button {
    background-color: #FFF !important;
    color: #e1232b !important;
    border: #e1232b 1px solid !important;
}

.host-button-group-button:active, .host-button-group-button:focus {
    color: #EEE !important;
    background-color: #e1232b !important;
    border: #e1232b 1px solid !important;
}