.thumbnail-preview {
    width: 100%;
    height: 250px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}

.preview-image-container {
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    grid-column-gap: 20px;
}

.image-preview-wrapper {
    height: 250px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}

.image-preview {
    max-height: 100%;
}

.image-collection-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    padding: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.submit-button, .cancel-button {
    display: inline-block;
    margin-top: 25px;
    width: 100%;
}

.image-preview-item {
    height: 100px;
}

.selected-images {
    max-width: 100%;
    height: 200px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
}

.selected-images * {
    max-height: 100%;
    max-width: 20%;
    width: auto;
    border: 1px solid #c5c5c5;
}

.assigned-image-items {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    height: 100px;
}

.assigned-image-item {
    max-height: 100%;
    max-width: 20%;
    border: 1px solid #c5c5c5;
}