.host-footer {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    color: #e1232b;
    display: inline-flex;
}

.host-privacy {
    box-sizing: border-box;
    padding-right: 5px;
    text-align: right;
    width: 50%;
    border-right: 1px solid #e1232b;
}

.host-impressum {
    box-sizing: border-box;
    padding-left: 5px;
    text-align: left;
    width: 50%;
}

.host-privacy > a {
    color: inherit;
}

.host-privacy > a:hover {
    color: inherit;
}