<div class="text-container">
    <h2>Impressum</h2>
    <h3>Herausgeber:</h3>
    <p>Hochschule Stralsund<br>
        gesetzlich vertreten durch den Rektor<br>
        Prof. Dr. Petra Maier<br>
        E-Mail: rektor(at)hochschule-stralsund(dot)de</p>
    <h3>Anschrift:</h3>
    <p>Zur Schwedenschanze 15<br>
        18435 Stralsund<br>
        Tel.: +49 3831 456500<br>
        Fax: +49 3831 456658<br>
        E-Mail: rektor(at)hochschule-stralsund(dot)de<br>
        Umsatzsteuer-ID-Nummer: DE 234311498</p>
    <h3>Aufsichtsbehörde:</h3>
    <p>Die Hochschule Stralsund ist rechtsfähige Körperschaft des öffentliche Rechts unter der Aufsicht von:<br>
        Ministerium für Bildung, Wissenschaft und Kultur des Landes Mecklenburg-Vorpommern<br>
        Werderstraße 124<br>
        19055 Schwerin<br>
        Tel.: +49 385 588-0<br>
        Fax: +49 385 588-7082<br>
        E-Mail: poststelle(at)kultus-mv(dot)de</p>
</div>