.exposition-info-tabelement {
    display: inline-flex;
    width: 50%;
    text-align: center;
}

.switch-container {
    display: flex;
    padding: 0 !important;
}

a:hover, a:focus, a:active {
    text-decoration: none; /* NOSONAR */
}

.ui-state-active > a {
    background-color: #ad0000 !important;
    color: #EEE !important;
    border: #BBB !important;
    border-radius: 4px;
}

li:hover, a:hover {
    border-radius: 4px;
}

.exposition-info-tabelement > li, .exposition-info-tabelement > a {
    width: 100%;
}

.exposition-info-tabelement > a {
    color: #EEE !important;
    text-align: center;
    padding-top: 10px;
    letter-spacing: .1em;
    font-weight: bold;
}

.current-game-display-frame, .current-game-display-frame:hover { /* NOSONAR */
    border-radius: 50px;
    height: 15px;
    width: 15px;
    background-color: #F8F8F8;
    border: 1px solid #e1232b;
    margin: 0 2px 0 2px;
    display: inline-block;
}

.current-game-display-frame.game-completed-1 {
    background-color: #d4edda;
    border: 1px solid #155724;
}

.current-game-display-frame.game-completed-2 {
    background-color: #f8d7da;
    border: 1px solid #721c24;
}

.current-game-display-frame.active { /* NOSONAR */
    height: 20px;
    width: 20px;
    border: 2px solid #e1232b;
}

#current-game-display-wrapper {
    text-align: center;
}

.item.panel > img {
    margin: auto;
}

.current-game-display-frame.active-history {
    height: 20px;
    width: 20px;
}

.carousel-inner {
    height: 250px;
}

.carousel.slide {
    margin: 15px 0 25px 0;
}

#exposition-slider-image-wrapper > .panel.item, #exposition-slider-image-wrapper > .panel.item > img {
    height: 100%;
}

.carousel-control {
    border-radius: 0;
}

.mission-hook-padding {
    margin-top: 10px;
}