.overview-table-cell-container { /* NOSONAR */
    display: grid;
    grid-template-columns: 1fr 3fr 8fr; /* NOSONAR */
    min-height: 80px;
    width: 100%;
    border: 1px solid #BBBBBB;
    border-radius: 0 4px 4px 0;
}

.overview-table-cell-container:nth-last-of-type(1) {
    margin-top: 15px;
}

.overview-table-cell-location-image-wrapper {
    background: url("../images/default.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.overview-table-cell-location-info {
    margin-left: 15px;
}

.overview-room-state-context-0 {
    background-color: #ffff7f;
}

.overview-room-state-context-1 {
    background-color: #ffc864;
}

.overview-room-state-context-2 {
    background-color: #64ff64;
}