<div class="text-container">
    <h2>Datenschutz</h2>
    <p>Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen
        Datenschutzvorschriften sowie dieser Datenschutzerklärung.
        Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf
        unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden,
        erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche
        Zustimmung nicht an Dritte weitergegeben.
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
        Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        möglich.
    </p>

    <h3>Statistische Auswertung von Besucherzugriffen</h3>
    <p>Diese Webseite nutzt zur statistischen Auswertung von Besucherzugriffen einen Seitenzähler. Dieser hält den
        Aufruf von einzelnen Informationen, wie z.B. Labor-Informationsseiten oder Quiz-Elemente, nach. Durch den
        Seitenzähler wird zukunftsorientiert die Qualität dieser Webseite verbessert. Dies geschieht an Hand von
        potentiell interessanten / relevanten Inhalten, welche hohe Zählwerte erreichen.
        Es werden keine Informationen gespeichert, welche direkt Rückschlüsse auf eine Person oder technischen
        Hilfsmittel dieser bieten könnten. Daten welche direkte Rückschlüsse bieten könnten wären Elemente wie:
        IP-Adressen, Uhrzeiten zu denen die Webseite benutzt wird, Browser- oder Betriebssystem-Informationen

    <h3>Verwendung von Cookies</h3>
    <p>Um einzelne Spielelemente benutzen zu können speichert diese Webseite Cookies auf Ihrem Gerät.
        Diese werden zur Minimierung von zu übertragenden Daten genutzt. In ihnen werden die Benutzerinformationen
        (Anmeldedaten) und Spielfortschritte gesichert.
        Falls Sie die Verwendung von Cookies unterbinden wollen, besteht dazu bei Ihrem Browser die Möglichkeit, die
        Annahme und Speicherung neuer Cookies zu verhindern. Um herauszufinden, wie das bei dem von Ihnen
        verwendeten Browser funktioniert, können Sie die Hilfe-Funktion Ihres Browsers benutzen oder sich an den
        Hersteller wenden.
    </p>
</div>