.button-group-wrapper {
    text-align: right;
}

.labor-wrapper {
    margin-top: 10px;
}

.host-function-button:last-child {
    margin-top: 10px;
}

.checkbox-wrapper {
    margin-bottom: 10px;
}

@media (min-width: 0) {
    #play_filter {
        float: left;
        display: block;
    }

    #play_rooms {
        margin-top: 5px;
        float: left;
        display: block;
    }
}

@media (min-width: 449px) {
    #play_filter {
        float: left;
        display: inline-block;
    }

    #play_rooms {
        margin-top: 0;
        float: right;
        display: inline-block;
    }
}