.button-group-wrapper {
    overflow: auto;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.labor-wrapper {
    margin-top: 10px;
}

.host-function-button:last-child {
    margin-top: 10px;
}

.checkbox-wrapper {
    margin-bottom: 10px;
}

.host-btn-group {
    margin-top: 5px;
}