.button-group-wrapper {
    text-align: right;
}

.labor-wrapper {
    margin-top: 10px;
}

.host-function-button:last-child {
    margin-top: 10px;
}

.checkbox-wrapper {
    margin-bottom: 10px;
}

#play_filter {
	float:left;
}

#play_rooms {
	float:right;
}